@using BeviSano.Controllers

@model LoginViewModel

@{
	ViewData["Title"] = "Home";
	var LoginError = TempData["LoginError"] as string;
}


<div id="carouselExampleIndicators" class="carousel slide carousel-mood" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" style="width:100vw;">
		<div class="carousel-item active">
			<img class=" w-100" src="~/lib/img/BeviSano3.jpg" alt="First slide">
		</div>
		<div class="carousel-item">
			<img class=" w-100" src="~/lib/img/BeviSano2.jpg" alt="Second slide">
		</div>
		<div class="carousel-item">
			<img class=" w-100" src="~/lib/img/BeviSano.jpg" alt="Third slide">
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="container" >


	<div class="row mt-5 ps-0 ms-0">
		<h3 style="color:#5c4d4d" class="text-center">"Bevi sano, bevi e basta: L’e-commerce che ti fa aspettare… ma bene"</h3>
		<div class="col-lg-4 col-xl-3 text-center text-md-start ms-0 ps-0 pt-md-2">
			<img src="~/lib/img/Bevi_Sano_Home.png" alt="logo" class="img-fluid   " style="max-width: 300px; height: 300px;" />
		</div>
		<div class="col-lg-8 col-xl-9 pt-md-2">
		
			<p style="color:#5c4d4d">
				Tutto iniziò quando <strong>Rachele, Valentina, Domenico, Gianluca e Nicolas</strong> , un gruppo di amici con la passione per il buon vino (la poca voglia di alzarsi dal divano), si resero conto che ordinare alcolici online era un’odissea.<br /> Troppo costosi, troppo veloci (chi si fida di un vino che arriva in 10 minuti?), troppo complicati.<br /> <i>Così pensarono: “Creiamo il nostro sito, con un nome chiaro e una filosofia semplice: bevi sano, bevi e basta”.</i><br />

				<strong>L’idea era rivoluzionaria:</strong> una selezione di vini e superalcolici top, con consegna in 3-4 giorni, giusto il tempo di pentirsi dell’ordine, ma non abbastanza per disdire. <br /><span class="fst-italic fw-bold">Lo slogan? "La qualità richiede attesa… e anche il nostro corriere".</span><br />

			Il sito decollò subito. I clienti apprezzavano la pazienza forzata e la vasta scelta.

			Certo, non tutto filò liscio: qualcuno tentò di ordinare una bottiglia di gin per un sabato sera speciale… ricevendola il mercoledì successivo, quando ormai aveva fatto voto di sobrietà.

			<br /><strong>Oggi "Bevi sano, bevi e basta" è un punto di riferimento per chi ama bere bene… e con calma.</strong> <br /><strong>Perché, come dice il loro motto alternativo: "Se lo vuoi subito, esci e compralo. Se vuoi il meglio, aspetta."</strong>
			</p>
		</div>
	</div>

	<hr style="color:#5c4d4d" />
@if (HomeController.MainAccount == null)
	{
	<div class="row" id="login">
		<div class="d-flex justify-content-center align-items-center mt-4">
			<div class="p-4 rounded shadow-lg" style="background-color: #f2f1e7; width: 600px;">
				<h2 class="text-center" style="color: #5c4d4d;">Accedi</h2>
				<form method="post" asp-controller="Home" asp-action="Login">
					<div class="mb-3">
						<label for="firstName" asp-for="Email" class="form-label" style="color: #915b4a;"></label>
						<input id="firstName" asp-for="Email" class="form-control form-reg bg_form_complete border-1" style="border-color: #a96851;" />
						<span class="text-danger" asp-validation-for="Email"></span>
					</div>

					<div class="mb-3">
						<label for="password" asp-for="Password" class="form-label" style="color: #915b4a;"></label>
						<input type="password" id="password" asp-for="Password" class="form-control bg_form_complete form-reg border-1" style="border-color: #a96851;" />
						<span class="text-danger" asp-validation-for="Password"></span>
					</div>

					<div class="d-flex justify-content-between">
						<button class="btn text-white w-50 me-2" type="submit" style="background-color: #5c4d4d; border-color: #5c4d4d;">Accedi</button>
						<a class="btn text-white w-50" asp-controller="Home" asp-action="Register" style="background-color: #915b4a; border-color: #915b4a;">Registrati</a>
					</div>
				</form>
				<p class="text-danger">@LoginError</p>
			</div>
		</div>
	</div>
	}
	@* pubblicità *@
	
</div>
<div id="carouselExampleControls" class="carousel slide my-4" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="row">
				<div class="col-3 m-0 p-0">
					<img src="https://www.signorvino.com/on/demandware.static/-/Library-Sites-SignorvinoContentLibrary/default/dw22659a4a/images/hp/social_media_banners/11_November/02_all_HP_Social-Strip_CW3824_Update_sgv.jpg" class="d-block w-100" alt="Immagine 1" style="height: 400px"/>
				</div>
				<div class="col-3 m-0 p-0">
					<img src="https://www.signorvino.com/on/demandware.static/-/Library-Sites-SignorvinoContentLibrary/default/dw977d6995/images/hp/social_media_banners/11_November/03_all_HP_Social-Strip_CW3824_Update_sgv.jpg" class="d-block w-100" alt="Immagine 2" style="height: 400px;">
				</div>
				<div class="col-3 m-0 p-0">
					<img src="https://www.signorvino.com/on/demandware.static/-/Library-Sites-SignorvinoContentLibrary/default/dw726f2a5c/images/hp/social_media_banners/11_November/04_all_HP_Social-Strip_CW3824_Update_sgv.jpg" class="d-block w-100" alt="Immagine 3" style="height: 400px;">
				</div>
				<div class="col-3 m-0 p-0">
					<img src="https://www.signorvino.com/on/demandware.static/-/Library-Sites-SignorvinoContentLibrary/default/dwce771a0c/images/hp/social_media_banners/11_November/08_all_HP_Social-Strip_CW3824_Update_sgv.jpg"" class="d-block w-100" alt="Immagine 4" style="height: 400px;">
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="row">
				<div class="col-3 m-0 p-0">
					<img src="https://www.signorvino.com/on/demandware.static/-/Library-Sites-SignorvinoContentLibrary/default/dwa493039e/images/hp/social_media_banners/11_November/10_all_HP_Social-Strip_CW3824_Update_sgv.jpg" class="d-block w-100" alt="Immagine 5" style="height: 400px;">
				</div>
				<div class="col-3 m-0 p-0">
					<img src="https://www.signorvino.com/on/demandware.static/-/Library-Sites-SignorvinoContentLibrary/default/dw3fe8978b/images/hp/social_media_banners/11_November/01_all_HP_Social-Strip_CW4624_Update_sgv.jpg" class="d-block w-100" alt="Immagine 6" style="height: 400px;">
				</div>
				<div class="col-3 m-0 p-0">
					<img src="https://images.pexels.com/photos/248413/pexels-photo-248413.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="Immagine 7" style="height: 400px;">
				</div>
				<div class="col-3 m-0 p-0">
					<img src="https://images.pexels.com/photos/95960/pexels-photo-95960.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="Immagine 8" style="height: 400px;">
				</div>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
<section class="newsletter-section">
	<div class="newsletter-container">
	  <h2>Iscriviti alla nostra Newsletter</h2>
	  <p>Ricevi offerte esclusive, novità e consigli sui migliori vini direttamente nella tua inbox!</p>

	  <form class="newsletter-form d-flex justify-content-center">
        <input type="text" class="form-control form-control-lg me-2 p-2" placeholder="Inserici la tua e-mail qua..." required />
		<button type="submit">Iscriviti</button>
	  </form>

	  <p class="privacy-policy">Iscrivendoti, accetti la nostra <a href="#">Politica sulla Privacy</a>.</p>
	</div>
  </section>


