@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
	<div class="row ms-0">
	<div class="col-md-5 m-0 ps-0 text-center text-md-start"> <img src="~/lib/img/Bevi_Sano_Home.png" alt="logo" class="img-fluid" style="max-width: 250px; height:250px;" /></div>

   <div class="col-md-7 mt-5">
			<p>Scrivi qui la storia.... ma che storia, siamo già noi la storia!</p>
   </div>
   </div>
</div>
