/*regole generali*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F1E7;
}

::-webkit-scrollbar {
    display: none;
}

/*footer*/
.bg_footer {
    background: #915b4a;
}

a[b-mtcdh73qc4] {
    color: white !important;
}

hr:not([size]) {
    height: 1.5px;
}

.hover-opacity {
    transition: all 0.3s ease-in-out;
    color: white;
    position: relative;
}

    .hover-opacity:hover {
        color: #ffcc00;
        transform: scale(1.1);
    }

    .hover-opacity::after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background: white;
        transition: width 0.3s ease-in-out;
        position: absolute;
        left: 50%;
        bottom: -3px;
        transform: translateX(-50%);
    }

    .hover-opacity:hover::after {
        width: 100%;
    }

/*card*/

@media (max-width: 768px) {
    .card .position-relative {
        height: 200px;
    }
}

@media (max-width: 576px) {
    .card .position-relative {
        height: 150px;
    }
}

.btn-check:focus + .btn, .btn:focus {
    box-shadow: none !important;
}

.btn_home {
    width: 200px !important;
}

.bg_form_complete, .form-group input, .form-group textarea {
    background: #f2f1e7 !important;
}

.form-control:focus {
    background: #f2f1e7 !important;
    border: 1px solid #915b4a !important;
    box-shadow: none !important;
}

.form-reg:focus {
    background: #f2f1e7 !important;
    border: 2px solid #915b4a !important;
    box-shadow: none !important;
}

.form-select:focus {
    background: #f2f1e7 !important;
    border: 1px solid #915b4a !important;
    box-shadow: none !important;
}

.form-select {
    background: #f2f1e7 !important;
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
}

.shadow-sm {
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15), 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}
/*navbar*/
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    box-shadow: none !important;
}

/*.form-select {
    border-color: #915b4a;
    color: #915b4a;
    width: 150px;
    background: #f2f1e7 !important;
}

.form-select:focus {
    border-color: #915b4a;
    box-shadow: transparent;
}*/

.btnCart {
    width: 40px;
}

.title-absolute {
    z-index: 100;
    top: 200px;
    left: 200px;
}

.p-0 {
    padding: 0 !important;
}

.hover_effect {
    background-color: #5c4d4d;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.hover_effect:hover {
    background-color: white;
    color: #5c4d4d;
}

.hover_effect .bi-search {
    color: inherit;
}

.benefits-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.benefits-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #2d3e50;
}

.highlight {
    color: #915b4a;
}

.benefits-list {
    list-style-type: none;
    padding: 0;
}

.benefit-item {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.benefit-item:last-child {
    border-bottom: none;
}

.benefit-icon {
    font-size: 2rem;
    color: #5c4d4d;
    margin-right: 20px;
}

.benefit-description h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2d3e50;
    margin-bottom: 10px;
}

.benefit-description p {
    font-size: 1.1rem;
    font-weight: 300;
    color: #555;
}

.benefit-item:hover {
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
}

.fidelity_card .card {
    background: linear-gradient(135deg, #5c4d4d, #915b4a);
    border-radius: 15px;
    width: 500px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 2rem;
}

.fidelity_card .card-title {
    font-size: 1.6rem;
    font-weight: 700;
}

.fidelity_card .card-name {
    color: #ffcd38;
}

.fidelity_card .card-body {
    padding: 2rem;
}

.fidelity_card .card_header_annulla{
    border-bottom: none !important;
    background-color: transparent !important;
}

.progress-bar-container {
    width: 100%;
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #ddd;
    height: 8px;
    border-radius: 5px;
    width: 100%;
    position: relative;
}

.progress {
    background-color: #ffcd38;
    height: 100%;
    border-radius: 5px;
}

.progress-text {
    font-size: 0.9rem;
}


/*Details Page*/
.imgSmall {
    max-height: 120px;
    overflow: hidden;
    cursor: pointer;
}
