* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F1E7;
}

.bg_footer {
    background: #915b4a;
}

a[b-mtcdh73qc4] {
    color: white !important;
}

hr:not([size]) {
    height: 1.5px;
}

.hover-opacity {
    transition: all 0.3s ease-in-out;
    color: white;
    position: relative;
}

.hover-opacity:hover {
    color: #ffcc00;
    transform: scale(1.1);
}

.hover-opacity::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: white;
    transition: width 0.3s ease-in-out;
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
}

.hover-opacity:hover::after {
    width: 100%;
}
